* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Jost", sans-serif;
    position: relative;
    width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

